.App {
  background-image: url(https://www.wallpapertip.com/wmimgs/89-897471_dark-aesthetic-wallpaper-desktop.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}

.para {
  font-weight: bold;
  font-size: 40px;
  color: rgb(255, 255, 255);
  top: 50%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.icon {
  margin: auto;
  align-items: left;
  font-weight: bold;
  font-size: 40px;
  text-align: left;
}
.navbar {
  font-style: italic;
  font-weight: bold;
  overflow: hidden;
}
.navbar a {
  float: left;
  color: #ffffff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.head {
  justify-content: center;
}
